<div class="container map-search">
    <div class="alert alert-danger text-center" role="alert" ng-show="apiError">
        <b>API Error : </b>
        <span>{{ apiStatus }}</span>
    </div>

    <form name="searchForm" novalidate ng-submit="search()">
        <div class="input-group">
            <input name="place" type="text" class="form-control"
                   ng-model="searchPlace" required autofocus />
            <span class="input-group-btn">
                <button class="btn btn-primary" ng-disabled="isSearching"
                        ng-disabled="searchForm.$invalid">
                    {{isSearching? 'Searching...':'Search'}}

                </button>
            </span>
        </div>
    </form>

    <div id="map"></div>

    <table  ng-table="tableParams" class="table table-condensed table-bordered table-striped" >
        <tr ng-repeat="place in displayResult" ng-click="selectPlace(place)" ng-class="{ 'isSelected':place.formatted_address === selected.address}">
            <td data-title="'Name'" sortable="'name'">
                {{place.name}}
            </td>
            <td data-title="'Address'" sortable="'formatted_address'">
                {{place.formatted_address}}
            </td>
        </tr>
    </table>
</div>
